*.dump
*.generated.ts
*.txt
.*
README.md
biome.json
config/
copilot/
data/
docs/
justfile
node_modules/
postgresql.conf
result
sqitch.conf
sql/
test/
# Our build system (nix) needs these at the moment:
!.dockerignore
!.gitignore
!config/*.conf
