# vim: ft=bash
# shellcheck disable=2148

layout node

if has nix; then
	use flake . --impure
fi

# see ./copilot/environments/dev/manifest.yml
# check the aws console for these ids
export VPC_ID=
export PUBLIC_SUBNET_ID_1=
export PRIVATE_SUBNET_ID_1=
