### bun ###
/out/

### db ###
*.dump

### dotenv ###
/.env*.local

### generated ###
# /schema.graphql Keep this for now. Need to have better bundling.

### neovim ###
/.db.json

### nix ###
/.pre-commit-config.yaml
/data
/result

### typescript ###
/node_modules/
*.d.ts
*.generated.ts
**/__generated__/**
