### bun ###
/out/

### direnv ###
/.devenv/
/.direnv/
/.envrc

### dotenv ###
/.env*.local

### neovim ###
/.db.json

### nix ###
/.pre-commit-config.yaml
/result

### typescript ###
/node_modules/
*.d.ts

### macOS ###
.DS_Store
